.right_content, .ad_bottom_list {
    display:none;
}
.dc_logo, .gnb_bar, .newvisit_history, .page_head, .minor_intro_box, .minor_ranking_box, .center_box, .writer_nikcon, .icon_img, .dc_all, .buttom_search_wrap, .dcfoot, .area_links, [data-type="icon_notice"], thead, iframe {
    display:none;
}
#mobon_type01, .gall_subject, .gall_num {
    visibility:hidden;
}
.left_content,  .top_search {
    background:transparent!important;
    opacity:0;
}
.left_content:hover {
    opacity:1;
}
.top_search:hover {
    opacity:1;
}
.ub-content {
    background:transparent!important;
}
button {
    background:transparent!important;
    border-color:transparent!important;
}
body {
    background:url(https://raw.githubusercontent.com/msleea/mto/main/%ED%99%94%EB%A9%B4%20%EC%BA%A1%EC%B2%98%202023-02-16%20194034.png);
    background-size: 100% 100%;
    background-attachment:fixed;
}
html {
    height: 100%
}
.wrap_inner {
    margin:0;
}
